<div [ngClass]="boxClass" [hidden]="!config.show">
  <div [hidden]="!config.shade" class="layui-m-layershade"></div>
  <div class="layui-m-layermain">
    <div class="layui-m-layersection">
      <div [ngClass]="childClass">
        <h3 *ngIf="config.title">{{config.title}}</h3>
        <div class="layui-m-layercont">{{config.content}}</div>
        <div class="layui-m-layerbtn" *ngIf="config.btns && config.btns.length > 0">
          <span *ngFor="let btn of config.btns;" (click)="this.config.fn[index]()">{{btn}}</span>
        </div>
      </div>
    </div>
  </div>
</div>