
<section class="i_content_box">
    
    <div class="i_c_b_tit clearfix" *ngIf="totalorder==0">
        <span class="pull-left i_c_b_t_span">
            <img class="i_c_b_t_img" src="/assets/img/index/two_1.png">
        </span>
        <span class="pull-left i_c_b_t_span">
            <img class="i_c_b_t_img" src="/assets/img/index/two_2.png" >
        </span>
        <span class="pull-left i_c_b_t_span bor_none">
            <img class="i_c_b_t_img" src="/assets/img/index/two_3.png" >
        </span>
    </div>
  <div class="i_c_b_content clearfix">
      <div class="pull-left i_c_b_c_but  vis_hid"></div>
      <!--起到占位的作用-->
      <div class="home_jiantou" *ngIf="products && products.length > 1" style="padding-left:20px;left: 0px;" (tap)="selectProduct(-1)">
          <div style="margin-top:60px;" class="pull-left i_c_b_c_but i_c_b_c_left "></div>
      </div>
      <div class="i_c_b_c_width pull-left" [style.width.px]="devicesWidth">
          <div class="i_c_b_c_w_width pull-left" id="js_productlist" 
          [style.width.px]="devicesWidth*products.length">
              <div class="i_c_b_c_top pull-left" [style.width.px]="devicesWidth" *ngFor="let product of products; let i = index;">
                  <div *ngIf="product.CategoryID == 73">
                      <div class="i_c_b_c_tit ">
                          <div class="clearfix inline_block">
                              <span class="pull-left">活期产品第{{product.ProductName}}期</span>
                          </div>
                      </div>
                      <div class="clearfix pull-left text_center" [routerLink]="['/product/bxb']">
                          <div class="pull-left i_c_b_c_c " [style.width.px]="devicesWidth">
                              <div class="i_c_b_c_c_bg i_c_b_c_c_bg_new inline_block"
                              [style.background.image]="'url(../img/jindu/jin_'+(product.CurrentTotalSchedule |number:0)+'.png)'">
                                  <p class="i_c_b_c_c_t">预期年化（％）</p>
                                  <p class="i_c_b_c_c_top cis_h i_b_n_s" *ngIf="product.OtherAnnualRateOfYear > 0">7+{{product.OtherAnnualRateOfYear}}~10</p>
                                  <p class="i_c_b_c_c_top cis_h i_b_n_s" *ngIf="product.OtherAnnualRateOfYear == 0">7.0~10.0</p>
                                  <p class="i_c_b_c_c_bot">随存随取</p>
                              </div>
                          </div>
                      </div>
                      <div class="i_c_b_c_hua">每7天递增0.1%，最高增至10%</div>
                      <div class="i_c_b_c_b_div"><a class="i_c_b_c_b_a" [routerLink]="['/product/bxb']">立即存入</a></div>
                  </div>
                  <div *ngIf="product.CategoryID != 73">
                      <div class="i_c_b_c_tit">
                          <div class="clearfix inline_block">
                              <i class="i_c_b_c_t_icon i_c_b_c_t_icon_2 pull-left" *ngIf="product.IsXinShow || product.IsComment || product.IsActive || product.IsMiaoSha"
                              [ngClass]="{'i_c_b_c_t_icon_3':product.IsXinShow,'i_c_b_c_t_icon_2':product.IsComment,'i_c_b_c_t_icon_1':product.IsActive,'i_c_b_c_t_icon_4':product.IsMiaoSha}"></i>
                              <span class="pull-left">
                                {{ product.ProductName.indexOf('-')>-1 ? product.ProductName.substr(0,product.ProductName.indexOf('-')) : product.ProductName | limitTo:10 }}
                              </span>
                          </div>
                      </div>
                      <div class="clearfix pull-left text_center" [routerLink]="['/product/'+product.ProductCode]">
                          <div class="pull-left i_c_b_c_c " [style.width.px]="devicesWidth">
                              <div class="i_c_b_c_c_bg i_c_b_c_c_bg_new inline_block" 
                              [style.background.image]="'url(../img/jindu/jin_'+((product.CurrentTotalSchedule>1?1:product.CurrentTotalSchedule) * 100|number:0)+'.png)'">
                                  <p class="i_c_b_c_c_t">预期年化（％）</p>
                                  <p class="i_c_b_c_c_top cis_h i_b_n_s" *ngIf="product.IsXinShow">
                                    <span>{{(product.AnnualRateOfYear*100).toFixed(1)}}</span>+<span>{{product.OtherAnnualRateOfYear.toFixed(1)}}</span>
                                  </p>
                                  <p class="i_c_b_c_c_top cis_h i_b_n_s" *ngIf="!product.IsXinShow && product.StageAnnualRateOfYear == 0">
                                    <span>{{(product.AnnualRateOfYear*100).toFixed(1)}}</span>
                                  </p>
                                  <p class="i_c_b_c_c_top cis_h i_b_n_s" *ngIf="!product.IsXinShow && product.StageAnnualRateOfYear > 0">
                                    <span>{{((product.AnnualRateOfYear - product.StageAnnualRateOfYear)*100).toFixed(1)}}</span>+<span>{{(product.StageAnnualRateOfYear *100).toFixed(1)}}</span>
                                  </p>
                                  <p class="i_c_b_c_c_bot">{{(product.LoanPeriod)+(product.LoanPeriodUnitID == 1 ? '个月':'天')}}</p>
                              </div>
                          </div>
                      </div>
                      <div class="i_c_b_c_hua" *ngIf="!product.IsXinShow" style="margin-bottom:14px;">
                          <div class="inline_block clearfix">
                              <span class="pull-left i_c_b_c_h_span" *ngIf="product.IsRedPaper">红包</span>
                              <span class="pull-left i_c_b_c_h_span" *ngIf="product.IsCard">加息</span>
                          </div>
                      </div>
                      <div class="i_c_b_c_hua" *ngIf="product.IsXinShow">限购一次</div>
                      <div class="i_c_b_c_b_div">
                          <span class="i_c_b_c_b_a" *ngIf="product.ProductStatusID==3" [routerLink]="['/product/'+product.ProductCode]">立即抢购</span>
                          <span class="i_c_b_c_b_a i_c_b_c_b_a_bor" [routerLink]="['/product/'+product.ProductCode]" *ngIf="product.ProductStatusID==4">已满标</span>
                          <span class="i_c_b_c_b_a i_c_b_c_b_a_bor" [routerLink]="['/product/'+product.ProductCode]" *ngIf="product.ProductStatusID==5">还款中</span>
                          <span class="i_c_b_c_b_a i_c_b_c_b_a_gray" [routerLink]="['/product/'+product.ProductCode]" *ngIf="product.ProductStatusID==6">已结束</span>
                      </div>
                  </div>
                  <div class="text_center ci_four is_zeng">
                      <div class="inline_block clearfix">
                          <i class="pull-left ci_f_icon"></i>
                          <span class="pull-left">CCTV《创业之星》战略合作伙伴</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div activeclass="nobgm" *ngIf="products && products.length>1" class="home_jiantou" style="right:0px; padding-right:20px;"
          (click)="selectProduct(1)">
          <div style="margin-top:60px;" class="pull-right i_c_b_c_but i_c_b_c_right "></div>
      </div>
  </div>
</section>